<div class="container">
  <h1 class="d-flex">Cadastro de Séries</h1>
  <button class="btn btn-primary" (click)="newEntity()"> Novo</button>

  <p-table [value]="series" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5,10,20]">
    <ng-template pTemplate="header">
      <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Nota</th>
        <th>Estréia</th>
        <th>Produtora</th>
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-serie>
      <tr>
        <td>{{serie.id}}</td>
        <td>{{serie.nome}}</td>
        <td>{{serie.nota}}</td>
        <td>{{serie.dataEstreia}}</td>
        <td>{{serie.produtora.nome}}</td>
        <td>
          <button type="button" class="btn btn-dark" (click)="edit(serie)">
            <fa-icon [icon]="['fas','edit']"></fa-icon>
          </button>

          <button type="button" class="btn btn-danger" (click)="delete(serie)">
            <fa-icon [icon]="['fas','trash']"></fa-icon>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-confirmDialog></p-confirmDialog>
  <p-growl [(value)]="msgs"></p-growl>
  <p-dialog header="Cadastro" [(visible)]="showDialog" modal="modal" [responsive]="true" [width]="500">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" id="nome" name="nome" class="form-control" [(ngModel)]="serieEdit.nome">
        </div>
      </div>
    </div>
    <p-footer>
      <button type="button" class="btn btn-default" (click)="cancel()">Cancelar</button>
      <button type="button" class="btn btn-success" (click)="save()">Salvar</button>
    </p-footer>
  </p-dialog>

</div>